{% extends 'layout.html' %}

{% block content %}

<div class="content-section">
    <form method="POST" action="">
    
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register</legend>
            <div class="form-group">
                <label for="name">Fullname</label>
                <input type="text" name="name" id="name" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label for="pass">password</label>
                <input type="password" id="pass" name="pass" class="form-control form-control-lg" />
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info">Register</button>
        </div>
        <small class="text-muted ml-2">
            <a href="#">Forgot Password?</a>
        </small>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
    </small>
</div>

{% endblock content %}